
@font-face {
  font-family: myFont1;
  src: url('../../public/fonts/verdana.ttf');
}


.body_class {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: myFont1;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.product-details-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
}
 
@media (min-aspect-ratio: 16/9) {
  .video {
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
      width: auto;
  }
}


.time {
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute; /* Set position to absolute to freely move the clock */
  top: 10px; /* Position from the top */
  left: 10px; /* Position from the left */
  z-index: 2; 
}

.home_img {
  width: 200px;
  height: 100px;
  background-color: rgb(193, 190, 190);
  border-radius: 0 0 0 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 20px;
  z-index: 2;
}

h3 {
  background-color: #FFE500;
  color: black;
  text-align: center;
  border-radius: 10px;
  width: 550px;
  height: 60px;
  position: absolute;
  bottom: 230px;
  right: 254px;
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
  z-index: 2;
}

.btn-group {
  position: absolute;
  bottom: 150px;
  right: 255px;
  z-index: 2;
}

a {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: #83004B;
  height: 60px;
  width: 170px;
  line-height: 60px; /* Center text vertically */
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
  transform: translate(0);
  transition: color 0.3s ease;
}



a:hover, a:active {
  color: black;
}

/* Animated Button Border Effects */
a span {
  position: absolute;
}

a span:nth-child(1), a span:nth-child(3) {
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, #5e6003, #fbde02);
}

a span:nth-child(1) {
  top: 0;
  animation: animateBorder 3s linear infinite;
}

a span:nth-child(3) {
  bottom: 0;
  animation: animateBorder 3s linear infinite reverse;
}

a span:nth-child(2), a span:nth-child(4) {
  top: 0;
  bottom: 0;
  width: 2px;
  background: linear-gradient(to bottom, #5e6003, #fbde02);
}

a span:nth-child(2) {
  right: 0;
  animation: animateBorderVertical 3s linear infinite;
}

a span:nth-child(4) {
  left: 0;
  animation: animateBorderVertical 3s linear infinite reverse;
}

@keyframes animateBorder {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes animateBorderVertical {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

