.products-page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 20px; /* spacing between grid items */
  width: 80%; /* adjust width as necessary */
  margin-top: 20px; /* space above the grid */
}

.product-button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #F7F7F7; /* Light gray for text */
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.product-button:hover {
  transform: scale(1.1); /* subtle grow effect on hover */
}
