
/* Applies to the overall page layout */
.products-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Full viewport height */

  }
  
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    gap: 20px; /* Space between buttons */
    padding: 20px;
    max-width: 800px; /* Max width of the grid */
    margin: auto; /* Centering the grid */
  }
  
  /* Responsive adjustments */
  @media (min-width: 768px) {
    .categories-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columns layout for wider screens */
    }
  }
  